[submodule "dasein-cloud-core"]
	path = dasein-cloud-core
	url = https://github.com/greese/dasein-cloud-core.git
[submodule "dasein-cloud-test"]
	path = dasein-cloud-test
	url = https://github.com/greese/dasein-cloud-test.git
[submodule "dasein-cloud-aws"]
	path = dasein-cloud-aws
	url = https://github.com/greese/dasein-cloud-aws.git
[submodule "dasein-cloud-atmos"]
	path = dasein-cloud-atmos
	url = git://github.com/greese/dasein-cloud-atmos.git
[submodule "dasein-cloud-gogrid"]
	path = dasein-cloud-gogrid
	url = git://github.com/greese/dasein-cloud-gogrid.git
[submodule "dasein-cloud-openstack"]
	path = dasein-cloud-openstack
	url = git://github.com/greese/dasein-cloud-openstack.git
[submodule "dasein-cloud-cloudstack"]
	path = dasein-cloud-cloudstack
	url = git://github.com/greese/dasein-cloud-cloudstack.git
[submodule "dasein-cloud-vsphere"]
	path = dasein-cloud-vsphere
	url = git://github.com/greese/dasein-cloud-vsphere.git
[submodule "dasein-cloud-mock"]
	path = dasein-cloud-mock
	url = git://github.com/greese/dasein-cloud-mock.git
[submodule "dasein-cloud-ibm"]
	path = dasein-cloud-ibm
	url = git://github.com/greese/dasein-cloud-ibm.git
[submodule "dasein-cloud-nimbula"]
	path = dasein-cloud-nimbula
	url = git://github.com/greese/dasein-cloud-nimbula.git
[submodule "dasein-cloud-joyent"]
	path = dasein-cloud-joyent
	url = git://github.com/greese/dasein-cloud-joyent.git
[submodule "dasein-cloud-opsource"]
	path = dasein-cloud-opsource
	url = git://github.com/greese/dasein-cloud-opsource.git
[submodule "dasein-cloud-rackspace"]
	path = dasein-cloud-rackspace
	url = git://github.com/greese/dasein-cloud-rackspace.git
[submodule "dasein-cloud-cloudsigma"]
	path = dasein-cloud-cloudsigma
	url = git://github.com/greese/dasein-cloud-cloudsigma.git
